/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import 'bootstrap-sprockets';

// Common styles
html{
  position: relative;
  min-height: 100%
}
body{
  margin: 0 0 40px;
}
header a, footer a{
  color: #2163FFFF;
}
.container{
  // background-color: #cecece;
  // margin-top: 40px;
}
// header
header{
    background-color: #17141f;
}
#header-nav{
  display: inline-block;
  line-height: 40px;
  a{
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
  }
  a:hover{
    color: #000;
  }
}
// footer
footer{
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
#footer-nav{
  display: inline-block;
}
#sign-in{
  float: right;
  line-height: 40px;
  a{
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
  }
  a:hover{
    color: #000;
  }
}
.inner-page{
  margin-top: 40px;
  padding-bottom: 40px;
  background: #f4f5f9;
}

@media screen and (max-width: 990px){
  .top-streams{
    width: inherit;
    height: 100%;
  }
}

@media screen and (min-width: 992px){
  #vk-groups{
    width: 283px !important;
  }
}
@media screen and (min-width: 768px){
}
// @import 'news.scss';
// @import 'pages.scss';
@import 'mixin.scss';
