// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixin.scss';
// HOME PAGE NEWS
main{
  padding: 25px 10px 0;
  background: #fff;
  .news-item-home{
    padding-bottom: 3px;
    margin-bottom: 15px;
    text-align: center;
    a{
      display: block;
      padding-bottom: 5px;
    }
    a:hover{
      border-bottom: 3px solid #337ab7;
      text-decoration: none;
    }
  }
  .news-item-home:hover{
    padding-bottom: 0;
  }
}
// NEWS SINGLE
.news-page{

  .news-page-img{
    float: right;
    margin: 0 0 15px 15px;
  }
  .news-page-content{

  }
  .news-page-publ{
    font-size: 18px;
    margin-top: 10px;
  }
}
// ALL NEWS
.news-list-page{

  .news-item{
    min-height: 150px;
    padding: 10px;
    margin-bottom: 15px;
    background: #f4f5f9;
    .news-img{
      margin-left: 5px;
    }
  }
  .add-news{
    width: 250px;
    margin: 15px auto 15px;
  }
}

// EDIT
#news_content{
  height: 500px;
}
// COMMENTS
.comment{
  width: 70%;
  margin-bottom: 20px;
  padding: 10px;
  border: 3px solid #337ab7;
  background-color: #ffffff;
  border-left: 0px;
  @include border-radius(5px);
}
