// Place all the styles related to the tournament controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tournaments-bg{
  // background: url('/images/esl-bg2.jpg');
  background-size: cover;
}
.tournaments-home-page{
  .tournament-item{
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #777777;
  }
}

.tournament-grid{
  .winner{
    color: red !important;
  }
  .teams{
    margin-bottom: 20px;
  }
  .round{
    width: 31%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  .round-title{
    font-size: 18px;
    text-align: center;
  }
  #round2{
    margin-left: 10px;
  }
  #round3{
    margin-left: 10px;
  }
  .pair{
    margin-bottom: 15px;
    .team{
      color: #fff;
      background: #337ab7;
      border: 1px solid #2e6da4;
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 3px;
      }
    }
}
#tournament_team{
    height: 160px;
}

.tour-game-dota:after{
  content: url('/images/DotA2 Icon.png');
  vertical-align: text-top;
  margin-left: 5px;
}
.tour-game-cs:after{
  content: url('/images/csgo.gif');
  vertical-align: text-top;
  margin-left: 5px;
}
.table-hover > tbody > tr:hover {
  background-color: #ffffff !important;
}
